<div id="sidebar_alvl_background" class="alvl_sidebar" data-bind="css: alvlState">
	<button type="button" id="autolevel" class="btn-alvl" data-bind="attr: { title: buttonTitle }, text: buttonText, enable: enableAlvlButton, click: function() { sendAlvlCommand() }"></button><br><p></p>
	<p id="presult"></p>
</div>
